<h2>Log in</h2>
<div class="wrap">
<div class="new-users">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field1">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field2">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field3">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
<%= button_to "Vuelve a la home!", root_path, method: :get %>

